﻿@page "/add"

@using test.DataAccess
@using test.Data


@inject IDbContextFactory<TestContext> ObjectContextFactory
@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager

<div class="top-row px-4">
    <div class="col text-center px-4">
        <h3>Добавление новой анкеты</h3>
    </div>
</div>
<div class="content px-4">
    <EditForm Model="@WorkSheets" OnValidSubmit="Done">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col-4">
                <RadzenTextBox @bind-Value="@WorkSheets.Name" />
                <span class="pl-3">
                    <RadzenLabel Text="Имя" />
                </span>
            </div>

            <div class="col-4">
                <RadzenTextBox @bind-Value="@WorkSheets.Surname" />
                <span class="pl-3">
                    <RadzenLabel Text="Фамилия" />
                </span>
            </div>

            <div class="col-4">
                <RadzenTextBox @bind-Value="@WorkSheets.Language" />
                <span class="pl-3">
                    <RadzenLabel Text="Язык программирования" />
                </span>
            </div>

        </div>
        <hr />

        <div class="row">
            <div class="col-4">
                <RadzenNumeric @bind-Value="@WorkSheets.Seniority" />
                <span class="pl-3">
                    <RadzenLabel Text="Опыт" />
                </span>
            </div>

            <div class="col-4">
                <RadzenDatePicker TValue="DateTime"
                                  ShowTime="false"
                                  DateFormat="dd.MM.yyyy"
                                  Change="HideErrors"
                                  @bind-Value="@WorkSheets.Birth" />
                <span class="pl-3">
                    <RadzenLabel Text="Дата рождения" />
                </span>

            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Подтвердить" />
                <div class="text-danger pt-1">
                    @errMsg
                </div>
            </div>
        </div>
    </EditForm>
</div>





@code {
    WorkSheet WorkSheets = new WorkSheet();
    string errMsg;

    void Done()
    {

        using (var context = ObjectContextFactory.CreateDbContext())
        {
            using (var transaction = context.Database.BeginTransaction())
            {
                try
                {
                    context.WorkSheets.Add(WorkSheets);
                    context.SaveChanges();
                    transaction.Commit();
                    NotificationService.Notify(NotificationSeverity.Success, "Анкета добавлена успешно!");

                    WorkSheets = new WorkSheet();
                    NavigationManager.NavigateTo("/");
                }
                catch (Exception)
                {
                    // if we have error - rollback first step (second step not be able accepted)
                    transaction.Rollback();
                }
            }
        }
    }

    void HideErrors()
    {
        StateHasChanged();
    }
}