﻿@page "/"

@using System;
@using System.Text.Json;

@inject IDbContextFactory<TestContext> ObjectContextFactory
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService


<div class="top-row px-4">
    <div class="col text-center px-4">
        <h3>Список анкет программистов</h3>
    </div>
</div>

<div class="content px-4">
    <RadzenGrid Data="filteredWorksheets"
                @ref="editGrid"
                EditMode="DataGridEditMode.Single"
                RowUpdate="OnUpdateRow"
                TItem="WorkSheet"
                AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true" PageSize="15"
                AllowSorting="false"
                EmptyText="Нет данных для отображения">
        <Columns>
            <RadzenGridColumn TItem="WorkSheet" Property="Name" Title="Имя">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Name" Name="Name" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="WorkSheet" Property="Surname" Title="Фамилия">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Surname" Name="Surname" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="WorkSheet" Property="Language" Title="Язык программирования">
                <FilterTemplate>
                    <RadzenDropDown @bind-Value="@selectedLanguage" TextProperty="Text" ValueProperty="Java" Style="width:100%"
                                    Change=@OnChange
                                    Data=@(Worksheets.Select(w => w.Language).Distinct())
                                    AllowClear="true" Placeholder="Выберите язык"/>

                </FilterTemplate>
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Language" Name="Language" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="WorkSheet" Property="Seniority" Title="Опыт">
                <EditTemplate Context="data">
                    <RadzenNumeric  @bind-Value="data.Seniority" Name="Seniority" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="WorkSheet" Property="Birth" Title="Возраст">
                <Template Context="data">
                    @Math.Truncate(DateTime.Now.Subtract(data.Birth).TotalDays / 365)
                </Template>
                <EditTemplate Context="data">
                    <RadzenDatePicker TValue="DateTime"
                                      ShowTime="false"
                                      DateFormat="dd.MM.yyyy"
                                      Change="HideErrors"
                                      @bind-Value="@data.Birth"
                                      Name="Birth" />
                    @*<RadzenRequiredValidator Text="Поле не должно быть пустым" Popup="true" Component="DateSoprovod"/>*@
                </EditTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="WorkSheet" TextAlign="TextAlign.Center" Filterable="false" Sortable="false" Width="100px">
                <Template Context="data">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(data))" />
                </Template>
                <EditTemplate Context="data">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(data))" />
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(data))" />
                </EditTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="WorkSheet" TextAlign="TextAlign.Center" Filterable="false" Sortable="false" Width="100px">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(data))" @onclick:stopPropagation="true" />
                </Template>
                <EditTemplate Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(data))" />
                </EditTemplate>
            </RadzenGridColumn>



        </Columns>
    </RadzenGrid>
    <div class="pt-2">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@(() => NavigationManager.NavigateTo("/add"))" Text="Добавить"></RadzenButton>
    </div>
</div>

@code {


    IEnumerable<WorkSheet> Worksheets;
    RadzenGrid<WorkSheet> editGrid;
    IEnumerable<WorkSheet> filteredWorksheets;
    string selectedLanguage;
    protected override Task OnInitializedAsync()
    {
        using (var context = ObjectContextFactory.CreateDbContext())
        {
            LoadJson();

            Worksheets = context.WorkSheets.OrderBy(w => w.Surname).ToList();
            filteredWorksheets = Worksheets;
        }
        return base.OnInitializedAsync();
    }

    void LoadJson()
    {
        using (var context = ObjectContextFactory.CreateDbContext())
        {
            if (context.WorkSheets.Count() == 0)
            {
                string json = System.IO.File.ReadAllText("worksheet.json");
                var worksheets = JsonSerializer.Deserialize<List<WorkSheet>>(json);
                context.AddRange(worksheets);
                context.SaveChanges();
            }
        }
    }

    void OnChange()
    {

        //if(selectedLanguage is null)
        //{
        //    filteredWorksheets = Worksheets.OrderBy(w => w.Surname).ToList();
        //}
        //else
        //{

        //    filteredWorksheets = Worksheets.Where(w=>w.Language.Equals(selectedLanguage)).ToList();
        //}

        filteredWorksheets = Worksheets.Where(w => selectedLanguage is not null ? w.Language == selectedLanguage : true);
    }


    async Task OnUpdateRow(WorkSheet WorkSheet)
    {
        using (var context = ObjectContextFactory.CreateDbContext())
        {
            var props = typeof(WorkSheet).GetProperties().Skip(2);
            foreach (var prop in props)
            {
                if (typeof(WorkSheet).GetProperty(prop.Name).GetValue(WorkSheet) is null || typeof(WorkSheet).GetProperty(prop.Name).GetValue(WorkSheet)?.ToString() == "")
                {
                    NotificationService.Notify(NotificationSeverity.Error, "Поля в таблице не могут быть пустыми!");
                    await OnInitializedAsync();
                    return;
                }
            }
            context.Update(WorkSheet);
            context.SaveChanges();
        }
    }

    //Редактирование анкеты
    void EditRow(WorkSheet WorkSheet)
    {
        editGrid.EditRow(WorkSheet);
    }
    void SaveRow(WorkSheet WorkSheet)
    {
        editGrid.UpdateRow(WorkSheet);
        editGrid.Reload();
    }
    void CancelEdit(WorkSheet WorkSheet)
    {
        editGrid.CancelEditRow(WorkSheet);
    }

    //Удаление анкеты
    async Task DeleteRow(WorkSheet WorkSheet)
    {
        using (var context = ObjectContextFactory.CreateDbContext())
        {
            using (var transaction = context.Database.BeginTransaction())
            {
                try
                {
                    context.Remove(WorkSheet);
                    context.SaveChanges();
                    transaction.Commit();
                    NotificationService.Notify(NotificationSeverity.Success, "Анкета удалена успешно!");
                    await OnInitializedAsync();
                }
                catch (Exception)
                {

                    transaction.Rollback();
                }
            }


        }
    }

    void HideErrors()
    {
        StateHasChanged();
    }

}
