﻿@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@
    <RadzenNotification />
    <div class="main">
        @Body
    </div>
</div>
